---
import Layout from '../../layouts/Layout.astro';
import {getCollection} from 'astro:content'
const posts = await getCollection('blogs')

---

<Layout>
	<h1> All blogs</h1>

	<ul>
		{posts.map(post => (
			<li><a href={`/blogs/${post.id}`}>{post.data.title}</a></li>
		))}
	</ul>
</Layout>

<style>
h1 {
  font-size: 24pt;
}


</style>
