---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blogs");
---

<Layout
  title="Mark Broski Blogs"
  description="A list of Blogs"
  keywords="blog entries"
>
  <h1>All blogs</h1>

  <ul>
    {
      posts.map((post) => (
        <div class="max-w-prose border-b-4 border-blue-800">
          <h3 class="max-w-prose text-lg leading-relaxed tracking-normal text-gray-800">
            <a
              class="font-bold text-blue-800 hover:text-blue-600"
              href={`/blogs/${post.id}`}
            >
              {post.data.title}
            </a>
          </h3>
          <p class="max-w-prose text-lg leading-relaxed tracking-normal text-gray-800">
            {post.data.description}
          </p>
          <div class="max-w-prose text-lg leading-relaxed tracking-normal text-blue-800">
            {post.data.pubDate}
          </div>
        </div>
      ))
    }
  </ul>
</Layout>
