<aside class="w-full bg-white shadow md:sticky md:top-0 md:w-64">
  <div class="p-4">
    <h2 class="text-lg font-semibold">Mark Broski</h2>
    <ul class="mt-4 space-y-1">
      <li>
        <a
          href="/"
          class="block rounded px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/blogs/"
          class="block rounded px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Blogs</a
        >
      </li>
      <li>
        <a
          href="/Tools/"
          class="block rounded px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Tools</a
        >
      </li>
      <li>
        <a
          href="/Projects/"
          class="block rounded px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Projects</a
        >
      </li>
      <li>
        <a
          href="/Books/"
          class="block rounded px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Books I love</a
        >
      </li>
      <li>
        <a
          href="/About/"
          class="block rounded px-4 py-2 text-gray-700 hover:bg-gray-100"
          >About</a
        >
      </li>
      <li>
        <a
          href="/Contact/"
          class="block rounded px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</aside>
