<aside class="bg-white shadow md:w-64 w-full md:sticky md:top-0">
  <div class="p-4">
    <h2 class="text-lg font-semibold">Mark Broski</h2>
    <ul class="mt-4 space-y-2">
      <li>
        <a
          href="/"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-100 rounded"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/blogs/"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-100 rounded"
          >Blogs</a
        >
      </li>
      <li>
        <a
          href="/Tools"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-100 rounded"
          >Tools</a
        >
      </li>
      <li>
        <a
          href="/Projects"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-100 rounded"
          >Projects</a
        >
      </li>
      <li>
        <a
          href="/Books"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-100 rounded"
          >Books I love</a
        >
      </li>
      <li>
        <a
          href="/About"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-100 rounded"
          >About</a
        >
      </li>
      <li>
        <a
          href="/Contact"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-100 rounded"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</aside>
